@import "mixins";
@import "custom";
@import "~bootstrap/scss/bootstrap";

a {
	@include link-active;

	&:hover {
		@include link-hover;
		color: #1A1A1A;
	}
}

.header {
	margin-top: 2.89em;
	margin-bottom: 0;
}

.hero {
	margin-top: 3.7em;
	margin-bottom: 0;

	&-app {
		position: relative;
		margin-bottom: 9%;

		&__title{
			margin-bottom: .85em;
			@include bold-link;
			line-height: 1.1;
			letter-spacing: 0.01em;
			color: #1A1A1A;
		}

		&__desc {
			@include middle-text;
		}
	}
}

.row-1 {
	position: relative;
	margin-bottom: 3.6em;
	padding: 3.5em 0 4.5em 0;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto;
		background-color: #B377FF;
		width: 93.8%;
		max-width: 1800px;
		height: 100%;
	}
	&__title {
		margin-bottom: 1em;
		@include middle-text;
		font-weight: 700;
		color: #fff;

	}

	&__desc {
		@include middle-text;
		margin-bottom: 2.2%;

	}
	&__left {
		margin-left: -0.3%;
		margin-right: -3.3%;

		img {
			width: 100%;
		}
	}

	&__right {
		margin-left: -17.37%;
		margin-right: -1.4%;

		img {
			width: 100%;
		}
	}
}

.row-2 {
	position: relative;
	margin-bottom: 3.8em;
	padding: 3.5em 0 4.5em 0;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto;
		background-color: #00B956;
		width: 93.8%;
		max-width: 1800px;
		height: 100%;
	}
	&__title {
		margin-bottom: 1em;
		@include middle-text;
		font-weight: 700;
		color: #fff;

	}

	&__desc {
		@include middle-text;
		margin-bottom: 2.2%;

	}
	&__left {
		margin-left: -0.3%;
		margin-right: -3.3%;

		img {
			width: 100%;
		}
	}

	&__right {
		margin-left: -16%;
		margin-right: -1.4%;
		margin-top: 2.3em;
		@include middle-text;
	}
}

.row-3 {
	position: relative;
	padding: 3.5em 0 4.5em 0;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto;
		background-color: #C8102E;
		width: 93.8%;
		max-width: 1800px;
		height: 100%;
	}
	&__title {
		margin-bottom: 1em;
		@include middle-text;
		font-weight: 700;
		color: #fff;

	}

	&__desc {
		@include middle-text;
		margin-bottom: 2.2%;

	}
	&__left {
		margin-left: -0.3%;
		margin-right: -3.3%;

		img {
			width: 100%;
		}
	}
	&__right {
		margin-left: -17.37%;
		margin-right: -1.4%;

		img {
			width: 100%;
		}
	}
}

.footer {
	height: 100%;

	.page-info {
		padding-top: 2.6em;
		padding-bottom: 31em;
	}
}
